@font-face {
    font-family: "PublicPixel";
    src: url("./assets/fontes/PublicPixel.otf");
}

html,
body{
    width: 100%;
    height: 100%;    
    margin: 0;
}

body {
    font-family: 'PublicPixel', monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1b263b;
}

header {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 5%;
    background-color: #09131e;
    height: 6%;
    padding: 2%;    
}

header h1 {
    color: #e0e1dd;
    font-size: 2rem;
}

.side-buttons {
    all: unset;
    color: #e0e1dd;
    font-size: 1rem;
    cursor: pointer;
    padding: 9% 0.8rem;
    border-radius: 5px;    
}

.side-buttons:hover {   
    background-color: #1b263b;
}

#header-buttons {
    position: relative;
}

#instructions {
    position: absolute;
    right: 39.6%;
    top: 92.5%;  
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#09131e;
    background-color: #e0e1dd;
    width: 40vw;
    height: 50vh;
    padding: 8%;
    gap: 3%;
    border-top: 10px solid #778da9;
    border-top-left-radius: 5px;
    box-shadow: 5px 5px #09131e;
    font-size: 0.8rem;
}

.instructions-active {
    background-color: #778da9;
    color: #09131e;
}

.instructions-active:hover {
    background-color: #778da9;
    color: #09131e;
}

#tutorial-box {
    font-size: 0.75rem;
    width: 35vw;
    padding: 0.5%;
}

.tutorial {
    display: flex;    
    justify-content: center;
    align-items: center;
}

.tutorial-image {    
    height: 6.5vh;
    padding: 4%;
}

#board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    width: 100%;
    height: 40%;
    color: #e0e1dd;
    padding: 1.8% 0px;
}

.game-sides {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;    
    border: 7px ridge #e0e1dd;
    border-radius: 5px;
}

#player-side {
    border-right: 5px dotted #e0e1dd;
}

#computer-side {
    border-left: 5px dotted #e0e1dd;
}

#player-selection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 5vw;
    height: 30vh;  
    gap: 10px;
    padding: 0% 2% 3% 2%;
    border-right: 5px ridge #e0e1dd;   
}

.player-hand {
    cursor: pointer;
    width: 60%;
}

.selected-img {
    width: 25%;
    padding: 2%;          
}

.img-animation {
    animation: enlarge 0.3s 1;    
}

@keyframes enlarge {
   from {
    transform: scale(1.7);
   }
   to {
    transform: scale(1);
   }
}

#cpu-selection {
    width: 5vw;  
    height: 31.6vh;
}

.points-area {
    width: 35%;
    height: 10%;
}

.points {
    position: relative;    
    font-size: 0.9rem;   
    opacity: 0;
    animation: moving 0.8s 1;
    animation-fill-mode: forwards;
}

@keyframes moving {
    0% {
        opacity: 0;        
        bottom: -15px;
    }
    50% {
        opacity: 1;
        bottom: 25px;
    }

    100% {
        bottom: 45px;
        visibility: hidden;               
    }
}

#score {
    display: flex;
    justify-content: center;    
    color: #e0e1dd;
}

.score-points {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    width: fit-content;
    padding: 2% 1.5%;
    gap: 5px;   
    border: 5px solid #e0e1dd;       
}

.score-points > p {
    margin: 0px;
}

.show-points {
    font-size: 1.3rem;    
}

#final-results {
    position: relative;    
    color: #e0e1dd;
    font-size: 2.3rem;
    height: 10%;    
    text-align: center;    
    opacity: 0;    
}

.results-animation {
    animation: appearing 1.5s 1;
    animation-fill-mode: forwards;
}

@keyframes appearing {
    0% {
        opacity: 0;
        bottom: -40px;      
    }
    100% {
        opacity: 1;
        bottom: 0px;                
    }
}

footer {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;    
    color:#e0e1dd;
    background-color:#09131e;  
    font-size: 1rem;
    height: 80%;
    padding: 0.4% 3%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

footer a {
    color: #e0e1dd;
    text-decoration: none;
}

.hidden {
    visibility: hidden;
}

.disabled {
    opacity: 0.5;
    cursor: default;
}

.vertical-text {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 1.2rem;
}
